:root {
    --white: #fff;
    --black: #1a1918;
}

@font-face {
    font-family: 'Nunito';
    font-weight: normal;
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    src: url('../fonts/Nunito-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    height: 10000px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    margin: auto;
    border-bottom: 1px dotted black;
    font-size: 20px;
}

.navbar-logo {
    margin: auto 0;
    height: 50px;
    border-radius: 8px;
}

.navbar-menu {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    list-style-type: none;
}

.navbar-menu-item {
    display: inline-block;
}

.navbar-link {
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar-link:hover {
    background: var(--black);
    color: var(--white);
}
